<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"/>
</head>
<body>
    <form action="buscar" method="POST">
        <input placeholder="Buscar Pokemon" name="nome" id="nome" type="text">
        <button type="submit" name="buscar">Buscar</button>
        <br>
        <img src="{{foto}}" onerror="this.style.display = 'none'">    
        <h3 class="sub-heading">Codigo: {{codigo}}</h3>
        <h3 class="sub-heading">Nome: {{nome}}</h3>        
    </form>
</body>
</html>